<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>l</key>
    <dict>
      <key>periodcentered.loclCAT.case</key>
      <integer>-80</integer>
    </dict>
    <key>periodcentered.loclCAT.case</key>
    <dict>
      <key>l</key>
      <integer>-80</integer>
    </dict>
    <key>public.kern1.A</key>
    <dict>
      <key>public.kern2.O</key>
      <integer>-20</integer>
      <key>public.kern2.T</key>
      <integer>-90</integer>
      <key>public.kern2.V</key>
      <integer>-80</integer>
      <key>public.kern2.v</key>
      <integer>-10</integer>
    </dict>
    <key>public.kern1.F</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-60</integer>
      <key>public.kern2.J</key>
      <integer>-100</integer>
      <key>public.kern2.comma</key>
      <integer>-100</integer>
      <key>public.kern2.n</key>
      <integer>-20</integer>
      <key>public.kern2.o</key>
      <integer>-20</integer>
      <key>public.kern2.period</key>
      <integer>-100</integer>
      <key>public.kern2.v</key>
      <integer>-30</integer>
    </dict>
    <key>public.kern1.L</key>
    <dict>
      <key>periodcentered.loclCAT</key>
      <integer>-240</integer>
      <key>public.kern2.O</key>
      <integer>-50</integer>
      <key>public.kern2.T</key>
      <integer>-150</integer>
      <key>public.kern2.V</key>
      <integer>-120</integer>
      <key>public.kern2.quote</key>
      <integer>-80</integer>
      <key>public.kern2.quoteright</key>
      <integer>-100</integer>
      <key>public.kern2.v</key>
      <integer>-40</integer>
    </dict>
    <key>public.kern1.O</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-20</integer>
      <key>public.kern2.T</key>
      <integer>-40</integer>
      <key>public.kern2.V</key>
      <integer>-20</integer>
      <key>public.kern2.X</key>
      <integer>-20</integer>
      <key>public.kern2.comma</key>
      <integer>-10</integer>
      <key>public.kern2.period</key>
      <integer>-10</integer>
    </dict>
    <key>public.kern1.T</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-90</integer>
      <key>public.kern2.J</key>
      <integer>-120</integer>
      <key>public.kern2.O</key>
      <integer>-40</integer>
      <key>public.kern2.comma</key>
      <integer>-70</integer>
      <key>public.kern2.n</key>
      <integer>-150</integer>
      <key>public.kern2.o</key>
      <integer>-150</integer>
      <key>public.kern2.period</key>
      <integer>-70</integer>
      <key>public.kern2.v</key>
      <integer>-150</integer>
    </dict>
    <key>public.kern1.V</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-80</integer>
      <key>public.kern2.J</key>
      <integer>-100</integer>
      <key>public.kern2.O</key>
      <integer>-20</integer>
      <key>public.kern2.comma</key>
      <integer>-50</integer>
      <key>public.kern2.n</key>
      <integer>-30</integer>
      <key>public.kern2.o</key>
      <integer>-50</integer>
      <key>public.kern2.period</key>
      <integer>-50</integer>
    </dict>
    <key>public.kern1.X</key>
    <dict>
      <key>public.kern2.O</key>
      <integer>-20</integer>
    </dict>
    <key>public.kern1.f</key>
    <dict>
      <key>icircumflex</key>
      <integer>30</integer>
      <key>public.kern2.o</key>
      <integer>-20</integer>
    </dict>
    <key>public.kern1.lcaron</key>
    <dict>
      <key>i</key>
      <integer>80</integer>
    </dict>
    <key>public.kern1.period</key>
    <dict>
      <key>public.kern2.T</key>
      <integer>-70</integer>
      <key>public.kern2.V</key>
      <integer>-50</integer>
      <key>public.kern2.v</key>
      <integer>-20</integer>
    </dict>
    <key>public.kern1.quote</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-20</integer>
    </dict>
    <key>public.kern1.quoteright</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-30</integer>
      <key>public.kern2.O</key>
      <integer>-30</integer>
    </dict>
    <key>public.kern1.r</key>
    <dict>
      <key>public.kern2.comma</key>
      <integer>-20</integer>
      <key>public.kern2.o</key>
      <integer>-20</integer>
      <key>public.kern2.period</key>
      <integer>-20</integer>
    </dict>
    <key>public.kern1.v</key>
    <dict>
      <key>public.kern2.comma</key>
      <integer>-20</integer>
      <key>public.kern2.period</key>
      <integer>-20</integer>
    </dict>
    <key>q</key>
    <dict>
      <key>j</key>
      <integer>60</integer>
    </dict>
  </dict>
</plist>
