<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>com.schriftgestaltung.appVersion</key>
    <string>3414</string>
    <key>com.schriftgestaltung.disablesAutomaticAlignment</key>
    <false/>
    <key>com.schriftgestaltung.fontMasterID</key>
    <string>m01</string>
    <key>com.schriftgestaltung.formatVersion</key>
    <integer>3</integer>
    <key>com.schriftgestaltung.useGlyphOrder</key>
    <false/>
    <key>com.schriftgestaltung.useNiceNames</key>
    <true/>
    <key>public.glyphOrder</key>
    <array>
      <string>uni3405</string>
      <string>uni340C</string>
      <string>uni342C</string>
      <string>uni3431</string>
      <string>uni34BC</string>
      <string>uni34DE</string>
      <string>uni3537</string>
      <string>uni3685</string>
      <string>uni3687</string>
      <string>uni3749</string>
      <string>uni3760</string>
      <string>uni3775</string>
      <string>uni382F</string>
      <string>uni3840</string>
      <string>uni386D</string>
      <string>uni3886</string>
      <string>uni38CE</string>
      <string>uni3B0E</string>
      <string>uni3C7F</string>
      <string>uni3F0C</string>
      <string>uni4343</string>
      <string>uni4674</string>
      <string>uni470C</string>
      <string>uni49F9</string>
      <string>uni4E00</string>
      <string>uni4E01</string>
      <string>uni4E02</string>
      <string>uni4E03</string>
      <string>uni4E07</string>
      <string>uni4E08</string>
      <string>uni4E09</string>
      <string>uni4E0A</string>
      <string>uni4E0B</string>
      <string>uni4E0C</string>
      <string>uni4E0D</string>
      <string>uni4E0E</string>
      <string>uni4E0F</string>
      <string>uni4E11</string>
      <string>uni4E14</string>
      <string>uni4E15</string>
      <string>uni4E16</string>
      <string>uni4E18</string>
      <string>uni4E19</string>
      <string>uni4E26</string>
      <string>uni4E28</string>
      <string>uni4E29</string>
      <string>uni4E2A</string>
      <string>uni4E2B</string>
      <string>uni4E2D</string>
      <string>uni4E30</string>
      <string>uni4E36</string>
      <string>uni4E38</string>
      <string>uni4E39</string>
      <string>uni4E3B</string>
      <string>uni4E3D</string>
      <string>uni4E3F</string>
      <string>uni4E45</string>
      <string>uni4E47</string>
      <string>uni4E48</string>
      <string>uni4E4B</string>
      <string>uni4E4D</string>
      <string>uni4E4E</string>
      <string>uni4E4F</string>
      <string>uni4E52</string>
      <string>uni4E53</string>
      <string>uni4E56</string>
      <string>uni4E58</string>
      <string>uni4E59</string>
      <string>uni4E5A</string>
      <string>uni4E5D</string>
      <string>uni4E5E</string>
      <string>uni4E5F</string>
      <string>uni4E73</string>
      <string>uni4E82</string>
      <string>uni4E86</string>
      <string>uni4E88</string>
      <string>uni4E8B</string>
      <string>uni4E8C</string>
      <string>uni4E8E</string>
      <string>uni4E8F</string>
      <string>uni4E91</string>
      <string>uni4E92</string>
      <string>uni4E93</string>
      <string>uni4E94</string>
      <string>uni4E95</string>
      <string>uni4E98</string>
      <string>uni4E9B</string>
      <string>uni4E9E</string>
      <string>uni4E9F</string>
      <string>uni4EA1</string>
      <string>uni4EA2</string>
      <string>uni4EA4</string>
      <string>uni4EA5</string>
      <string>uni4EA6</string>
      <string>uni4EA7</string>
      <string>uni4EA8</string>
      <string>uni4EAB</string>
      <string>uni4EAE</string>
      <string>uni4EB2</string>
      <string>uni4EB3</string>
      <string>uni4EB6</string>
      <string>uni4EBA</string>
      <string>uni4EC1</string>
      <string>uni4EC4</string>
      <string>uni4ECA</string>
      <string>uni4ECB</string>
      <string>uni4ECE</string>
      <string>uni4ED8</string>
      <string>uni4ED9</string>
      <string>uni4EDD</string>
      <string>uni4EE3</string>
      <string>uni4EE4</string>
      <string>uni4EE5</string>
      <string>uni4EF6</string>
      <string>uni4EFB</string>
      <string>uni4F01</string>
      <string>uni4F07</string>
      <string>uni4F0A</string>
      <string>uni4F0F</string>
      <string>uni4F10</string>
      <string>uni4F11</string>
      <string>uni4F4D</string>
      <string>uni4F53</string>
      <string>uni4F55</string>
      <string>uni4F59</string>
      <string>uni4F7F</string>
      <string>uni4F83</string>
      <string>uni4F86</string>
      <string>uni4F96</string>
      <string>uni4FBF</string>
      <string>uni4FDD</string>
      <string>uni4FDE</string>
      <string>uni4FE1</string>
      <string>uni4FEE</string>
      <string>uni5009</string>
      <string>uni501D</string>
      <string>uni5098</string>
      <string>uni50C9</string>
      <string>uni513F</string>
      <string>uni5140</string>
      <string>uni5141</string>
      <string>uni5143</string>
      <string>uni5144</string>
      <string>uni5145</string>
      <string>uni5146</string>
      <string>uni5148</string>
      <string>uni5149</string>
      <string>uni514B</string>
      <string>uni514C</string>
      <string>uni514D</string>
      <string>uni5152</string>
      <string>uni5154</string>
      <string>uni515A</string>
      <string>uni515C</string>
      <string>uni5165</string>
      <string>uni5167</string>
      <string>uni5168</string>
      <string>uni5169</string>
      <string>uni516B</string>
      <string>uni516C</string>
      <string>uni516D</string>
      <string>uni516E</string>
      <string>uni5171</string>
      <string>uni5173</string>
      <string>uni5175</string>
      <string>uni5176</string>
      <string>uni5177</string>
      <string>uni5178</string>
      <string>uni517C</string>
      <string>uni5180</string>
      <string>uni5182</string>
      <string>uni5189</string>
      <string>uni518A</string>
      <string>uni518D</string>
      <string>uni5192</string>
      <string>uni5193</string>
      <string>uni5196</string>
      <string>uni5197</string>
      <string>uni5198</string>
      <string>uni51A1</string>
      <string>uni51AB</string>
      <string>uni51AC</string>
      <string>uni51B0</string>
      <string>uni51C6</string>
      <string>uni51E0</string>
      <string>uni51E1</string>
      <string>uni51E2</string>
      <string>uni51F5</string>
      <string>uni51F6</string>
      <string>uni51FA</string>
      <string>uni51FE</string>
      <string>uni5200</string>
      <string>uni5201</string>
      <string>uni5203</string>
      <string>uni5205</string>
      <string>uni5206</string>
      <string>uni5207</string>
      <string>uni5211</string>
      <string>uni5217</string>
      <string>uni521D</string>
      <string>uni5229</string>
      <string>uni522A</string>
      <string>uni5236</string>
      <string>uni5237</string>
      <string>uni523A</string>
      <string>uni5247</string>
      <string>uni524D</string>
      <string>uni5293</string>
      <string>uni529B</string>
      <string>uni52A0</string>
      <string>uni52A3</string>
      <string>uni52A6</string>
      <string>uni52A9</string>
      <string>uni52AB</string>
      <string>uni52D2</string>
      <string>uni52D9</string>
      <string>uni52DE</string>
      <string>uni52F9</string>
      <string>uni52FA</string>
      <string>uni52FB</string>
      <string>uni52FE</string>
      <string>uni52FF</string>
      <string>uni5305</string>
      <string>uni530B</string>
      <string>uni5315</string>
      <string>uni5316</string>
      <string>uni5317</string>
      <string>uni531A</string>
      <string>uni531D</string>
      <string>uni5320</string>
      <string>uni5321</string>
      <string>uni5339</string>
      <string>uni533B</string>
      <string>uni5340</string>
      <string>uni5341</string>
      <string>uni5342</string>
      <string>uni5343</string>
      <string>uni5345</string>
      <string>uni5347</string>
      <string>uni5348</string>
      <string>uni5349</string>
      <string>uni534A</string>
      <string>uni5351</string>
      <string>uni5352</string>
      <string>uni5353</string>
      <string>uni5357</string>
      <string>uni535C</string>
      <string>uni535E</string>
      <string>uni535F</string>
      <string>uni5360</string>
      <string>uni5361</string>
      <string>uni5363</string>
      <string>uni5369</string>
      <string>uni536C</string>
      <string>uni536E</string>
      <string>uni536F</string>
      <string>uni5370</string>
      <string>uni5371</string>
      <string>uni5373</string>
      <string>uni5374</string>
      <string>uni5375</string>
      <string>uni5377</string>
      <string>uni5378</string>
      <string>uni5382</string>
      <string>uni5384</string>
      <string>uni5386</string>
      <string>uni5389</string>
      <string>uni5393</string>
      <string>uni5398</string>
      <string>uni539F</string>
      <string>uni53A4</string>
      <string>uni53AD</string>
      <string>uni53B2</string>
      <string>uni53B6</string>
      <string>uni53B7</string>
      <string>uni53BB</string>
      <string>uni53BD</string>
      <string>uni53C3</string>
      <string>uni53C8</string>
      <string>uni53C9</string>
      <string>uni53CA</string>
      <string>uni53CB</string>
      <string>uni53CD</string>
      <string>uni53D4</string>
      <string>uni53D5</string>
      <string>uni53D6</string>
      <string>uni53D7</string>
      <string>uni53E3</string>
      <string>uni53E4</string>
      <string>uni53EA</string>
      <string>uni53EC</string>
      <string>uni53EF</string>
      <string>uni53F2</string>
      <string>uni53F8</string>
      <string>uni5404</string>
      <string>uni5408</string>
      <string>uni5409</string>
      <string>uni540C</string>
      <string>uni540D</string>
      <string>uni540E</string>
      <string>uni540F</string>
      <string>uni5411</string>
      <string>uni543E</string>
      <string>uni544A</string>
      <string>uni5468</string>
      <string>uni547D</string>
      <string>uni5485</string>
      <string>uni54B2</string>
      <string>uni54B8</string>
      <string>uni54BC</string>
      <string>uni54C1</string>
      <string>uni54E1</string>
      <string>uni559C</string>
      <string>uni55AA</string>
      <string>uni55AC</string>
      <string>uni55AE</string>
      <string>uni563C</string>
      <string>uni56B4</string>
      <string>uni56DB</string>
      <string>uni56DE</string>
      <string>uni56E0</string>
      <string>uni5728</string>
      <string>uni572D</string>
      <string>uni5750</string>
      <string>uni57F6</string>
      <string>uni5831</string>
      <string>uni58EB</string>
      <string>uni58EC</string>
      <string>uni58F0</string>
      <string>uni590C</string>
      <string>uni5916</string>
      <string>uni591A</string>
      <string>uni591C</string>
      <string>uni5927</string>
      <string>uni5929</string>
      <string>uni592A</string>
      <string>uni592B</string>
      <string>uni592C</string>
      <string>uni5931</string>
      <string>uni5934</string>
      <string>uni593E</string>
      <string>uni5947</string>
      <string>uni5973</string>
      <string>uni597D</string>
      <string>uni5982</string>
      <string>uni59BE</string>
      <string>uni5A41</string>
      <string>uni5B50</string>
      <string>uni5B78</string>
      <string>uni5B83</string>
      <string>uni5B89</string>
      <string>uni5B8C</string>
      <string>uni5B98</string>
      <string>uni5B9A</string>
      <string>uni5BB6</string>
      <string>uni5BB9</string>
      <string>uni5BC3</string>
      <string>uni5BC5</string>
      <string>uni5BE6</string>
      <string>uni5BEB</string>
      <string>uni5BF6</string>
      <string>uni5BFA</string>
      <string>uni5C06</string>
      <string>uni5C08</string>
      <string>uni5C0C</string>
      <string>uni5C0D</string>
      <string>uni5C0F</string>
      <string>uni5C11</string>
      <string>uni5C1A</string>
      <string>uni5C31</string>
      <string>uni5C3C</string>
      <string>uni5C71</string>
      <string>uni5CA1</string>
      <string>uni5DE0</string>
      <string>uni5DE5</string>
      <string>uni5DF1</string>
      <string>uni5DF2</string>
      <string>uni5DF4</string>
      <string>uni5DFE</string>
      <string>uni5E02</string>
      <string>uni5E03</string>
      <string>uni5E0C</string>
      <string>uni5E2B</string>
      <string>uni5E36</string>
      <string>uni5E38</string>
      <string>uni5E72</string>
      <string>uni5E73</string>
      <string>uni5E74</string>
      <string>uni5E76</string>
      <string>uni5E7E</string>
      <string>uni5EA6</string>
      <string>uni5EDA</string>
      <string>uni5F00</string>
      <string>uni5F0F</string>
      <string>uni5F1F</string>
      <string>uni5F3A</string>
      <string>uni5F62</string>
      <string>uni5F80</string>
      <string>uni5F9E</string>
      <string>uni5FB7</string>
      <string>uni5FC3</string>
      <string>uni5FC5</string>
      <string>uni5FE9</string>
      <string>uni601D</string>
      <string>uni6025</string>
      <string>uni610F</string>
      <string>uni611B</string>
      <string>uni6208</string>
      <string>uni6209</string>
      <string>uni6210</string>
      <string>uni6211</string>
      <string>uni6216</string>
      <string>uni6220</string>
      <string>uni6232</string>
      <string>uni6240</string>
      <string>uni624B</string>
      <string>uni624D</string>
      <string>uni627E</string>
      <string>uni62FF</string>
      <string>uni6536</string>
      <string>uni6544</string>
      <string>uni654E</string>
      <string>uni655E</string>
      <string>uni656C</string>
      <string>uni6578</string>
      <string>uni6587</string>
      <string>uni65A4</string>
      <string>uni65AF</string>
      <string>uni65B9</string>
      <string>uni65BC</string>
      <string>uni65E0</string>
      <string>uni65E5</string>
      <string>uni65E6</string>
      <string>uni65E8</string>
      <string>uni65E9</string>
      <string>uni660E</string>
      <string>uni660F</string>
      <string>uni661C</string>
      <string>uni661F</string>
      <string>uni662F</string>
      <string>uni6642</string>
      <string>uni666F</string>
      <string>uni66F2</string>
      <string>uni66F4</string>
      <string>uni66F8</string>
      <string>uni66FE</string>
      <string>uni6700</string>
      <string>uni6703</string>
      <string>uni6708</string>
      <string>uni6709</string>
      <string>uni670B</string>
      <string>uni6728</string>
      <string>uni672A</string>
      <string>uni672C</string>
      <string>uni672E</string>
      <string>uni6735</string>
      <string>uni6771</string>
      <string>uni6797</string>
      <string>uni679C</string>
      <string>uni67EC</string>
      <string>uni689D</string>
      <string>uni696D</string>
      <string>uni6A02</string>
      <string>uni6B21</string>
      <string>uni6B63</string>
      <string>uni6B64</string>
      <string>uni6B65</string>
      <string>uni6B72</string>
      <string>uni6B7B</string>
      <string>uni6BB8</string>
      <string>uni6BC4</string>
      <string>uni6BCD</string>
      <string>uni6BCF</string>
      <string>uni6BD4</string>
      <string>uni6BDA</string>
      <string>uni6BEB</string>
      <string>uni6C11</string>
      <string>uni6C14</string>
      <string>uni6C34</string>
      <string>uni6C38</string>
      <string>uni6C42</string>
      <string>uni6CD5</string>
      <string>uni6D1B</string>
      <string>uni6D77</string>
      <string>uni706B</string>
      <string>uni708E</string>
      <string>uni70CF</string>
      <string>uni7121</string>
      <string>uni7136</string>
      <string>uni722A</string>
      <string>uni722D</string>
      <string>uni7232</string>
      <string>uni7236</string>
      <string>uni723B</string>
      <string>uni723E</string>
      <string>uni723F</string>
      <string>uni7247</string>
      <string>uni7259</string>
      <string>uni7378</string>
      <string>uni738B</string>
      <string>uni74DC</string>
      <string>uni751A</string>
      <string>uni751F</string>
      <string>uni7523</string>
      <string>uni7528</string>
      <string>uni752C</string>
      <string>uni7531</string>
      <string>uni7533</string>
      <string>uni7535</string>
      <string>uni7537</string>
      <string>uni7559</string>
      <string>uni756B</string>
      <string>uni7576</string>
      <string>uni767C</string>
      <string>uni767D</string>
      <string>uni767E</string>
      <string>uni76AE</string>
      <string>uni76E1</string>
      <string>uni76E7</string>
      <string>uni76EE</string>
      <string>uni76F4</string>
      <string>uni76F8</string>
      <string>uni770B</string>
      <string>uni771F</string>
      <string>uni7758</string>
      <string>uni776A</string>
      <string>uni77E5</string>
      <string>uni77E6</string>
      <string>uni77F3</string>
      <string>uni793A</string>
      <string>uni79BB</string>
      <string>uni79BE</string>
      <string>uni7A7A</string>
      <string>uni7ACB</string>
      <string>uni7B49</string>
      <string>uni7B54</string>
      <string>uni7C73</string>
      <string>uni7D04</string>
      <string>uni7D72</string>
      <string>uni7E23</string>
      <string>uni7F59</string>
      <string>uni7F85</string>
      <string>uni7F8A</string>
      <string>uni7F8E</string>
      <string>uni7F95</string>
      <string>uni7FA9</string>
      <string>uni7FD2</string>
      <string>uni8001</string>
      <string>uni8005</string>
      <string>uni800C</string>
      <string>uni8072</string>
      <string>uni807D</string>
      <string>uni80FD</string>
      <string>uni81E4</string>
      <string>uni81E8</string>
      <string>uni81EA</string>
      <string>uni81F3</string>
      <string>uni81FA</string>
      <string>uni8208</string>
      <string>uni8209</string>
      <string>uni820C</string>
      <string>uni820D</string>
      <string>uni826E</string>
      <string>uni8272</string>
      <string>uni82B1</string>
      <string>uni82BB</string>
      <string>uni82D7</string>
      <string>uni82F1</string>
      <string>uni8332</string>
      <string>uni83EF</string>
      <string>uni842C</string>
      <string>uni8457</string>
      <string>uni8499</string>
      <string>uni8655</string>
      <string>uni8846</string>
      <string>uni884C</string>
      <string>uni8868</string>
      <string>uni8881</string>
      <string>uni8931</string>
      <string>uni8944</string>
      <string>uni897F</string>
      <string>uni8981</string>
      <string>uni898B</string>
      <string>uni89E3</string>
      <string>uni8A00</string>
      <string>uni8B8A</string>
      <string>uni8C46</string>
      <string>uni8C4A</string>
      <string>uni8C55</string>
      <string>uni8C61</string>
      <string>uni8C9D</string>
      <string>uni8CB7</string>
      <string>uni8CE3</string>
      <string>uni8D70</string>
      <string>uni8DEF</string>
      <string>uni8EAB</string>
      <string>uni8ECA</string>
      <string>uni8ECD</string>
      <string>uni8FA1</string>
      <string>uni8FB2</string>
      <string>uni9001</string>
      <string>uni9019</string>
      <string>uni9020</string>
      <string>uni9023</string>
      <string>uni9032</string>
      <string>uni9077</string>
      <string>uni908A</string>
      <string>uni90A3</string>
      <string>uni90FD</string>
      <string>uni9109</string>
      <string>uni9149</string>
      <string>uni91CC</string>
      <string>uni91CD</string>
      <string>uni91CF</string>
      <string>uni91D1</string>
      <string>uni9577</string>
      <string>uni9580</string>
      <string>uni9593</string>
      <string>uni95CC</string>
      <string>uni963F</string>
      <string>uni968A</string>
      <string>uni968B</string>
      <string>uni96B9</string>
      <string>uni96D9</string>
      <string>uni96DA</string>
      <string>uni96E3</string>
      <string>uni9752</string>
      <string>uni975E</string>
      <string>uni9762</string>
      <string>uni97CB</string>
      <string>uni97F3</string>
      <string>uni982A</string>
      <string>uni98A8</string>
      <string>uni98DB</string>
      <string>uni98DF</string>
      <string>uni98E1</string>
      <string>uni9996</string>
      <string>uni99AC</string>
      <string>uni99AE</string>
      <string>uni9AD8</string>
      <string>uni9CE5</string>
      <string>uni9CE7</string>
      <string>uni9CF3</string>
      <string>uni9E75</string>
      <string>uni9EBB</string>
      <string>uni9ED1</string>
      <string>uni9F13</string>
      <string>uni9F3B</string>
      <string>u20B1B</string>
      <string>u20B36</string>
      <string>u21569</string>
      <string>u21FFA</string>
      <string>u22EFB</string>
      <string>u22F38</string>
      <string>u23386</string>
      <string>u239BC</string>
      <string>u23D92</string>
      <string>u26407</string>
      <string>u26C29</string>
      <string>u27D2A</string>
      <string>u2B95E</string>
      <string>u2C037</string>
      <string>u2D41F</string>
      <string>space</string>
      <string>comma-han</string>
      <string>period-han</string>
      <string>colon.full</string>
      <string>comma.full</string>
      <string>exclam.full</string>
      <string>question.full</string>
      <string>quotedbl.full</string>
      <string>quotesingle.full</string>
      <string>semicolon.full</string>
      <string>cornerbracketleft</string>
      <string>cornerbracketright</string>
      <string>dblanglebracketleft</string>
      <string>dblanglebracketright</string>
      <string>parenleft.full</string>
      <string>parenright.full</string>
      <string>quotedblleft</string>
      <string>quotedblright</string>
      <string>quoteleft</string>
      <string>quoteright</string>
    </array>
    <key>public.postscriptNames</key>
    <dict>
      <key>colon.full</key>
      <string>uniFF1A</string>
      <key>comma-han</key>
      <string>uni3001</string>
      <key>comma.full</key>
      <string>uniFF0C</string>
      <key>cornerbracketleft</key>
      <string>uni300C</string>
      <key>cornerbracketright</key>
      <string>uni300D</string>
      <key>dblanglebracketleft</key>
      <string>uni300A</string>
      <key>dblanglebracketright</key>
      <string>uni300B</string>
      <key>exclam.full</key>
      <string>uniFF01</string>
      <key>parenleft.full</key>
      <string>uniFF08</string>
      <key>parenright.full</key>
      <string>uniFF09</string>
      <key>period-han</key>
      <string>uni3002</string>
      <key>question.full</key>
      <string>uniFF1F</string>
      <key>quotedbl.full</key>
      <string>uniFF02</string>
      <key>quotesingle.full</key>
      <string>uniFF07</string>
      <key>semicolon.full</key>
      <string>uniFF1B</string>
    </dict>
  </dict>
</plist>
